extends layout

block content

    .row
        .col-lg-2
            // Boş sidebar bölümü

        .col-lg-10
            .user-profile-container.text-center
                .user-info
                    h2 Profil: #{user.ad}

                    // Kullanıcı fotoğrafını göstermek için kontrol ekleyin
                    if user.userPhotoId
                        img(src=`/images/${user.userPhotoId}.jpg`, alt='User Photo', class='user-photo img-fluid rounded-circle', style='max-width: 150px;')

                        p.mt-2 Alinahmettekin

                ul.user-details.list-group.text-left.mt-4
                    li.list-group-item
                        strong UserID:
                        span.list-group-item-text #{user.userId}
                    li.list-group-item
                        strong Ad:
                        span.list-group-item-text #{user.ad}
                    li.list-group-item
                        strong Son Giriş Zamanı:
                        span.list-group-item-text #{user.lastLoginTime}
                    li.list-group-item
                        strong Kayıt Tarihi:
                        span.list-group-item-text #{user.signUpDate}
